services:
  vllm:
    restart: always
    image: vllm/vllm-openai:v0.24.0
    runtime: nvidia
    gpus: all
    environment:
      - "HF_TOKEN={{ hf_token }}"
      - "VLLM_USE_FLASHINFER_SAMPLER=1"
    ports:
      - "127.0.0.1:18000:8000"
    ipc: host
    volumes:
      - "/opt/vllm/config.yaml:/root/config.yaml"
      - "/opt/vllm/chat_template.jinja:/root/chat_template.jinja"
      - "/root/.cache/huggingface:/root/.cache/huggingface"
    command: --config /root/config.yaml

