host: 0.0.0.0
port: 8000
served-model-name: qwen3.6-27b

model: Qwen/Qwen3.6-27B-FP8
tensor-parallel-size: 2

# club-3090から
# https://github.com/noonghunna/club-3090/blob/master/models/qwen3.6-27b/vllm/compose/dual/fp8/mtp.yml
# - max-num-seqs: 同時にさばけるリクエストの数
# - kv-cache-dtype: kvキャッシュの型。自動で判定してくれなかった。
max-num-seqs: 2
kv-cache-dtype: fp8

# 公式のモデルカードから
# https://huggingface.co/Qwen/Qwen3.6-27B-FP8
enable-auto-tool-choice: true
tool-call-parser: qwen3_coder
reasoning-parser: qwen3
speculative-config: '{"method":"mtp","num_speculative_tokens":2}'
