[Unit]
Description=open-webui
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5

ExecStartPre=-/usr/bin/docker stop open-webui
ExecStartPre=-/usr/bin/docker rm open-webui

ExecStart=/usr/bin/docker run \
  -p "127.0.0.1:13000:8080" \
  --add-host=host.docker.internal:host-gateway \
  -v open-webui:/app/backend/data \
  --name open-webui \
  ghcr.io/open-webui/open-webui:0.10.1

ExecStop=/usr/bin/docker stop -t 30 open-webui

[Install]
WantedBy=multi-user.target
